.activeTab {background-color:white; color:black;}
.rich-tabpanel-content {background-color:white; background-image: none !important; font-size: 13px!important;}
#tblAdvSearch tbody tr td input, #tblAdvSearch tbody tr td select{width: 70%;margin-top: 1%;}
#tblContainer {padding: 1%;}
.slds-page-header_record-home h1 .slds-page-header__title{line-height:36px;}
.slds-page-header_record-home .slds-accordion__summary-action{display: block; padding: 0.625rem 0; text-align:right;}
.serach-company-tabs input.slds-input{width:100%;}
.serach-company-tabs label{min-height:18px; width:100%; float:left;}
.serach-company-tabs .slds-tabs_default__content{padding-bottom:0 !Important;}
.serach-company-tabs .slds-form-element_compound .slds-form-element { padding-left: .75rem;  padding-right: .75rem;}
.serach-company-tabs .slds-form-element__row,
.account-records-accordian .slds-form-element__row{padding:0 0 1rem 0; margin: 0 !important;}
.search-result-section .slds-panel{overflow:hidden;}
.slds-scope.search-result-section{border: 0px; padding: 0 1rem;}
.slds-scope.search-result-section .secondaryPalette{border: 0px;}
.quick-search-result .slds-icon{fill:#706f6b;}
.quick-search-result .slds-icon_container{margin-right:1.875rem;}
.quick-search-result .slds-checkbox_toggle{padding:5px 0;}
.slds-scope .user-detail-popover.slds-popover{position:absolute; width:175px; background-color:#16315c; color:#fff; border-radius:0.625rem; right:-14px; top:-100px; font-size:0.6875rem;}
.slds-scope .user-detail-popover.slds-popover.no-data{top:-40px;}
.slds-scope .user-detail-popover.slds-nubbin_bottom:after,
.slds-scope .user-detail-popover.slds-nubbin--bottom:after,
.slds-scope .user-detail-popover.slds-nubbin_bottom:before,
.slds-scope .user-detail-popover.slds-nubbin--bottom:before{left:20%;}
input[type=button], input[type=submit]{width: auto; min-width: 95px;}
.slds-scope .slds-has-button-menu .slds-th__action {padding-left: 0;}
.quick-search-result-btn-group{padding:1.25rem 0 2.5rem 0;}
.search-page-count{padding:1.5625rem 0;}
.search-page-count h1.slds-page-header__title{font-weight:500; display: inline;}
.slds-scope .quick-search-result .slds-icon_container, 
.slds-scope .quick-search-result .slds-icon__container{width:.75rem;}
.slds-scope .import-record-tabs{margin:0.9375rem 0 0.625rem;}
.slds-scope .slds-tabs_default__item, 
.slds-scope .slds-tabs--default__item {margin-right:2.5rem;}
.red{color:red;}
.slds-scope .account-records-accordian .slds-accordion__content {padding:0 1rem;}            
.slds-scope .account-records-accordian .active-status{display:inline; padding:0 0.9375rem; border-left:1px solid #dadada; margin:0 0 0 0.9375rem;}
.slds-scope .active-status .slds-icon-action-approval{padding:2px; background-color: #4cc079;}
.slds-scope .active-status .slds-icon-action-approval .slds-icon--small{width:0.625rem; height:0.625rem;}

body .pbBody table.list tr.dataRow th, body .pbBody table.list tr.dataRow td{position: relative;}
.rich-tab-active{border-bottom: 2px solid rgba(0, 112, 210, 1); font-weight: bold;}
.rich-tab-inactive{border-bottom: 5px solid transparent;}
.bPageBlock{border-top: none!important; background-color: transparent!important;} 
.custom-input, .detailList select{background-color: rgb(255, 255, 255);border: 1px solid rgb(221, 219, 218);border-radius: .25rem;transition: border .1s linear,background-color .1s linear;display: inline-block;padding: 0 1rem 0 .75rem;line-height: 1.875rem;min-height: calc(1.875rem + (1px * 2)); height: 32px;}
#tblAdvSearch label{display: block;} 
#tblAdvSearch tbody tr td{vertical-align:bottom!important;}
body .pbBody table.list tr.dataRow td, body .pbBody table.list tr.headerRow th{padding-left:5px!important; height:37px;max-width: 145px; white-space:normal!important;}
#searchPage>td.rich-tabhdr-side-cell, #FastSearch>td.rich-tabhdr-side-cell{border-top:0!important;}
.pbButton, .pbButtonb{text-align: right!important;}
.pbBottomButtons{margin:0!important;}
.bPageBlock .pbBody{overflow: hidden;}

.rich-tab-header{background:none; font-size: 13px!important; height: 32px!important; line-height: 1.5!important;background-image:none; padding: 5px!important;}
.detailList .dataCol{font-size: 13px!important;}
.homeTab .tertiaryPalette{background-color: rgba(27, 82, 151, 1);}
.detailList select, .detailList input{width:100%; min-width: 100%; }
.bPageBlock.secondaryPalette .pbBody{overflow: visible;}                                                                 
.bPageBlock .detailList .dataCol {width: 15%;}
.detailList input[type="checkbox"]{min-width:16px !important;}   
.detailList input[type="checkbox"].disable-lead  {margin:0 !important;min-width: 16px !important;}                                                                                                                                                                                                                                                                                                                         

@media(max-width:1600px) {
.slds-scope .quick-search-result td:last-child{min-width:200px; padding-right:0px !important;  float: left;}
body .detailList .dataCol select{min-width:100% !important;}
body .detailList .dataCol input{min-width:100% !important;}
}

@media(max-width:1024px) {
.search-result-section .table-responsive-container{width:100%; overflow:auto; float:left}
}

@media(max-width:767px) {
.slds-scope .slds-tabs--default__item {margin-right:2.5rem;}
.serach-company-tabs .slds-form-element__row,
.account-records-accordian .slds-form-element__row{padding:0;}
.serach-company-tabs .slds-size_1-of-1,
.account-records-accordian .slds-size_1-of-1{padding:0 0 1rem 0;}
.import-action-btn-group span{display:none;}
}