<apex:page standardController="Account" extensions="OrderReportExtension"  >
    <apex:includeLightning />
    <apex:form id="theForm">
        <apex:pageMessages id="userMessage"/>     
    </apex:form>
    <div id="CD_OrderReport"></div>    
    <div id="loaderDiv">Loading..</div>
    
    <script>
    
    if({!hasPermission} && {!Account.Company_Id__c != null}){
        try
        {        
           /*Here 'CD_OrderReportApp' is Lightning Application Name
           * 'CD_OrderReport' is Lightning Component Name which we are Displaying In Vf Page       
           * $Lightning.createComponent(String type, Object attributes, String locator, function callback) */
            
            $Lightning.use("creditdevice:CD_OrderReportApp", function() {     
                $Lightning.createComponent("creditdevice:CD_OrderReport",
                { 
                  // Set Lightning Component Attributes Property before creating Lightning Component In Visualforce page                    
                },
               "CD_OrderReport",
                function(component) {               
                    // create component Callback, Lightning Component has been Created, 
                    document.getElementById('loaderDiv').style.display = "none";  
                    component.set("v.recordId","{!Account.Id}");
                    
                    var creditDateNew = null;
                    var cDate = "{!Account.Credit_Report_Order_Date__c}";
                    if('{!Account.Credit_Report_Order_Date__c}'!='' && '{!Account.Credit_Report_Order_Date__c}'!='null'){
                        cDate = new Date("{!Account.Credit_Report_Order_Date__c}");
                        var monthCDate = cDate.getMonth()+1;
                        creditDateNew = cDate.getFullYear()+'-'+monthCDate+'-'+cDate.getDate();
                    }
                    //Set the formatted Credit Date
                    component.set("v.companyCreditDate",creditDateNew);
                    var accountData = {"recordId":"{!Account.Id}",
                                        "creditRatingLabel": "{!$ObjectType.Account.fields.Credit_Rating__c.Label}",
                                        "creditRatingValue":"{!Account.Credit_Rating__c}",
                                        "creditLimitLabel" : "{!$ObjectType.Account.fields.Limit_Advice__c.Label}",
                                        "creditLimitValue" : "{!Account.Limit_Advice__c}",
                                        "scoreLabel" : "{!$ObjectType.Account.fields.Score__c.Label}",
                                        "scoreValue" : "{!Account.Score__c}",
                                        "paymentScoreLabel" : "{!$ObjectType.Account.fields.Payment_Score__c.Label}",
                                        "paymentScoreValue" : "{!Account.Payment_Score__c}",
                                        "riskLabel" : "{!$ObjectType.Account.fields.Risk__c.Label}",
                                        "riskValue" : "{!Account.Risk__c}",
                                        "orderDateLabel" : "{!$ObjectType.Account.fields.Credit_Report_Order_Date__c.Label}",
                                        "orderDateValue" : "{!Account.Credit_Report_Order_Date__c}",
                                        "riskLabel" : "{!$ObjectType.Account.fields.Risk__c.Label}",
                                        "riskValue" : "{!Account.Risk__c}",
                                        "reportLink" : '{!Account.Report__c}', 
                                        "hasCreditLimitChange" : '{!Account.Credit_Limit_Change__c}'

                                    };              
                    
                    component.set("v.accountData",accountData);
                });
            });
        }
        catch(e){
             document.getElementById('loaderDiv').innerText = e;
        }
    }
    else
    {
        document.getElementById('loaderDiv').innerText = '';
        if('{!Account.Company_Id__c == null}')
        {
            document.getElementById('loaderDiv').innerText ='{!$Label.MSG_Connect_Company}';
        }
    }
     
 </script>
</apex:page>