.THIS .credit-report-info{
    margin-bottom: 20px;
}
p.THIS{
    margin-bottom: 5px;
}
.THIS .slds-badge{
white-space: normal;
background-color: rgb(233, 234, 236);
border-radius: 10px;
text-align: left;
line-height: 1rem;
float: left;
width: 90%;
}